.product {
  padding: 15px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  width: 24%;
}
.product img {
  width: 100%;
}
.product .actions {
  display: flex;
  align-items: center;
}
.actions button {
  height: 40px;
  padding: 0 15px;
  flex: 1;
}
.actions button[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
}
.actions .amount {
  width: 50px;
  text-align: center;
}
.actions .buy-btn {
  background: cyan;
  font-weight: bold;
}
.actions .sell-btn {
  background: #f1948a;
  font-weight: bold;
}
.header {
  position: sticky;
  top: 0;
  background: #d2b4de;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.header span {
  margin: 0 10px;
  font-weight: bold;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.cart {
  display: flex;
  border: 1px solid #ddd;
  background: #fff;
}
.cart button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 15px;
  flex: 1;
  background: #d2b4de;
  font-weight: bold;
}
.cart .total {
  color: seagreen;
  font-weight: bold;
}
